body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}

input {
  vertical-align: middle;
}

label span {
  vertical-align: middle;
}